# Leyendo valores por teclado.

Se consigue utilizando, la introduccion input( ) que lee y devuelve una
cadena:

In [1]:
valor=input()

algo

In [2]:
valor

'algo'

In [3]:
type(valor)

str

In [4]:
valor = input()

100

In [5]:
valor

'100'

In [6]:
type(valor)

str

In [7]:
#Es posible mostrar un mensaje antes de leer el valor 
valor = input("Introduce un valor: ")

Introduce un valor: 100

In [8]:
valor

'100'

In [9]:
valor + 100
#Una cadena y un numero no se pueden operar .

TypeError: can only concatenate str (not "int") to str

In [10]:
valor=input("Introduce un numero entero: ")

Introduce un numero entero: 500

In [11]:
valor
type(valor)

str

## Cast con int ( ), de cadena a entero.

In [12]:
#La funcion int ( ) devuelve un numero entero a partir de una cadena.
valor= int(valor)

In [13]:
type(valor)

int

In [14]:
valor

500

In [15]:
valor+1000

1500

In [ ]:
valor=input("Introduce un numero entero: ")

In [ ]:
valor

## Cast con float ( ) de cadena a flotante.

In [21]:
#La funcion float ( ) devuelve un numero flotante a partir de una cadena.
valor=float(valor)

In [22]:
valor

10.5

In [17]:
valor=input("Introduce un numero entero: ")

Introduce un numero entero: 10.5

In [18]:
valor

'10.5'

In [19]:
10+valor

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
type(valor)

str

In [23]:
type(valor)

float

In [24]:
10 + valor

20.5

In [25]:
valor = float(input("Introduce un numero decimal o entero: "))

Introduce un numero decimal o entero: 10.5

In [26]:
valor

10.5

In [27]:
type(valor)

float